@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

input {
  border-color: black;
  border: 1px solid;
}

.gradient1 {
  background: linear-gradient(
    90deg,
    rgba(9, 9, 221, 1) 25%,
    rgba(255, 0, 0, 1) 100%
  );
}
